@use "../post-card/style";

.wp-block-wp-atlas-post-query {
	display: grid;
	grid-template-columns: repeat(var(--wp-atlas-post-query-columns, 3), 1fr);
	gap: 1.5rem;

	@media (max-width: 781px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 480px) {
		grid-template-columns: 1fr;
	}
}
